.social-login
    button.social-login--github
        span
            i.fab.fa-github
                span &nbsp; Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook 
                span &nbsp; Continue with facebook